<form  #form="ngForm" (ngSubmit)="getNewItem(form)">
    <h3>Add new item</h3>
    <div>
        <input 
        required
        placeholder="firstName"
        class="form-control"
        name="firstname"
        pattern="[a-zA-Z ]*"
        ngModel 
        #firstname="ngModel">
        <div class="alert alert-danger" *ngIf="(firstname.touched || firstname.dirty) && firstname.errors">
            <span *ngIf="firstname.errors.required">Field is required</span>
            <span *ngIf="firstname.errors.pattern">You can enter only letters</span>
        </div>
    </div>
    <div>
        <input 
        placeholder="lastname"
        class="form-control"
        name="lastname"
        pattern="[a-zA-Z ]*"
        ngModel 
        required 
        #lastname="ngModel">
        <div class="alert alert-danger" *ngIf="(lastname.touched || lastname.dirty) && lastname.errors">
            <span *ngIf="lastname.errors.required">Field is required</span>
            <span *ngIf="lastname.errors.pattern">You can enter only letters</span>
        </div>
    </div>
    <div>
        <input 
        placeholder="email"
        class="form-control"
        name="email"
        ngModel 
        required 
        #email="ngModel" 
        [email]="true">
        <div class="alert alert-danger" *ngIf="(email.touched || email.dirty) && email.errors">
            <span *ngIf="email.errors.required">Field is required</span>
            <span *ngIf="email.errors.email">Please enter a valid email</span>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <button [disabled]="!form.valid" type="submit" class="btn btn-primary">Submit</button>
        <button type="submit" class="btn btn-danger" (click)="cancel()">Cancel</button>
    </div>
  </form>