form {
    button {
        margin-left: 10px;
      }
    text-align: center;
    position: fixed;
    border-radius: 5px;
    width: 400px;
    left: 50%;
    top: 30%;
    background-color: white;
    transform: translateX(-50%);
    div {
      margin: 10px;
    }
  }
